<div class="container body-content">
    <div class="row margin-bottom-lg">
        <div class="col-md-5">
            <div class="row">
                <h4 class="list-group-item-heading">Name: {{user.fullName}}</h4>
                <p class="list-group-item-text">E-mail: {{user.email}}</p>
                </a>
            </div>
        </div>

    </div>
</div>

//aaa