<div class="container body-content">
    <div class="row margin-bottom-lg">
        <div class="col-md-5">
            <div class="row">
                <h4 class="list-group-item-heading">Name: {{singleVisit.name}}</h4>
                <p class="list-group-item-text">Duration: {{singleVisit.duration}}</p>
                <p class="list-group-item-text">Price: {{singleVisit.price}}</p>
                <p class="list-group-item-text">Address: {{singleVisit.color}}</p>
                </a>
            </div>
        </div>
    </div>
</div>