<div class="container body-content">
    <div class="row">
        <div class="col-md-1">
            <a class="btn btn-default btn-s" href="/singleVisits/create">Create New</a>
        </div>
    </div>
</div>
<div class="list-group">
    {{#each singleVisit}}
        <div class="container body-content">
            <div class="row margin-bottom-lg">
                <div class="col-md-5">
                    <div class="row">
                        <a href="/singleVisits/details/{{this.id}}" class="list-group-item">
                            <h4 class="list-group-item-heading">Name: {{this.name}}</h4>
                            <p class="list-group-item-text">Price: {{this.price}}</p>
                            <p class="list-group-item-text">Duration: {{this.duration}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>