<form class="form-horizontal" method="POST" action="/customers/create">
    <fieldset>
        <legend>New Customer</legend>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="firstName">First Name</label>
            <div class="col-sm-2 ">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" required >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="lastName">Last Name</label>
            <div class="col-sm-2 ">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" required >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="email">Email</label>
            <div class="col-sm-2 ">
                <input type="text" class="form-control" id="email" placeholder="e-mail" name="email" required >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="phone">Telephone</label>
            <div class="col-sm-2 ">
                <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="telephone" required >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="pin">ID</label>
            <div class="col-sm-2 ">
                <input type="text" class="form-control" id="pin" placeholder="PIN" name="pin" required >
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-1">

                <button type="reset" class="btn btn-default">Cancel</button>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>